/* happycode_ch landing page stylesheet */

/* body */

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 8px; 
}

a {
    text-decoration: none;
}

img {

}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 1080px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.logo {

}

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 25px; 
    flex: 1;
}

.feature-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.feature-right {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;
    flex-wrap: wrap;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex: 1;
}
.sign-up{
    display: flex;
}
.footer {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
}