/* happycode_ch landing page stylesheet */

/* body */
body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    height: 100vh;
    align-items: center;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

img {

}

button {
    margin-top: 8px;
    border-radius: 6px;
    padding: 4px 18px;
    white-space: nowrap;
    
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 8px;
}

a {

}

.main-container {
    max-width: 1440px;
}

.header,
.footer {
    background-color: #1f2937;
    display: flex;
    padding: 16px;
}
.header,
.container,
.projects,
.quote {
    padding-left: 150px;
    padding-right: 150px;
}

.header {
    justify-content: space-between;

    
}
.header {
    color: #E5E7EB;
}

.footer {
    color: #E5E7EB;
    justify-content: center;
    padding: 16px;
}

.feature {
    background-color: #1f2937;
}

.feature-container {
    max-width: 300px;
}

.feature-title {
    color: #E5E7EB;
    font-size: 48px;
    font-weight: bolder;
}

.feature-subtext {
    color: #E5E7EB;
}

.container {
    display: flex;
    justify-content: center;

    
}

.projects {
    display: flex;
    margin: 75px;
    gap: 25px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 50px;
}

.author {
    justify-content: right;
}

.sign-up {
margin-bottom: 50px;

}
.sign-up-container {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    display: flex;
    padding: 25px;
    gap: 12px;

}



.sign-up-btn {
    background-color: #3882F6;
    border-style: solid;
    border-width: 2px;
    border-color: #E5E7EB;
    color: #E5E7EB;
    margin: 0px;
    padding: 4px 18px;
}

